<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.creeperImpl.domain.repository.DonateInfoMapper">
	<resultMap id="donateInfoMap" type="com.projectapi.teardowall.entity.DonateInfo">
		<id column="id" property="id"/>
		<result column="donator_name" property="donatorName"/>
		<result column="receiver" property="receiver"/>
		<result column="amount" property="amount"/>
		<result column="created_at" property="createdAt"/>
		<result column="updated_at" property="updatedAt"/>
	</resultMap>
	
	<sql id="columns">
		donator_name, receiver, amount, created_at, updated_at
	</sql>
	
	<select id="getAllDonateInfos" resultMap="donateInfoMap">
		select id, <include refid="columns" /> from donate_infos order by id desc
	</select>
	
	<insert id="insert">
		insert into donate_infos (<include refid="columns" />) values (#{donatorName}, #{receiver}, #{amount}, #{createdAt}, #{updatedAt})
	</insert>
	
</mapper>